* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.form-group{
    text-align: right;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color:  rgb(0, 61, 121);
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgb(0, 61, 121);
}

.dropdown-menu {
    background-color: rgb(255, 183, 0);
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color:  rgb(255, 183, 0);
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem  rgb(245, 233, 188);
}